*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing:border-box;
    overflow: hidden;
}

.formouter{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cir1{
    background-image: linear-gradient(
        red,
        rgb(255, 255, 255));
        top: 9%;
        left: 28vw;
        z-index: -2;
}

.cir2{
    background-image: linear-gradient(
        green,
        yellow);
        bottom: 9%;
        right: 28vw;
        z-index: -1;
}

.comon-cir{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    position: absolute;
    animation: gumna 2s linear 0s infinite normal;
}

@keyframes gumna {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}

.forminner{
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 30px ;
    padding: 1rem 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    margin: 5%;
}

form{
    padding: 1rem;
}

form h1{
    color: white;
    font-size: 4em;
    margin-bottom: 1rem;
    text-shadow: 10px 0px 10px black;
}

form label{
    color: white;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

input{
    height: 2rem;
    width: 100%;
    background-color: transparent;
    color: white;
    letter-spacing: 0.05rem;
    border: none;
    border-bottom: 2px solid white;
}

input:focus{
    outline: none;
}

.buttonsumit{
    width: 5rem;
    margin-top: 2rem;
    height: 2rem;
    border: 2px solid wheat;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    transition: all 1s;
}

.buttonsumit:hover{
    box-shadow: 0px 0px 10px;
}

/* Media Query For Mobile Screen */

@media (max-width:500px){
    .comon-cir{
        height: 10em;
        width: 10em;
    }
    .cir1{
        /* top: 9vh; */
        left: 1vw;
    }
    .cir2{
        /* bottom: 9vh; */
        right: 1vw;
    }

    form h1{
        font-size: 2.1rem;
    }

    form input{
        font-size: 0.8rem;
    }

    form label{
        font-size: 1.1rem;
    }
}

/* Media Query For Tablet Screen */

@media (max-width:768px) and (min-width:500px){
    .cir1{
        left: 10vw;
    }
    .cir2{
        right: 10vw;
    }

    .comon-cir{
        height: 11em;
        width: 11em;
    }
}

/* Media Query for Big Screen */

@media (min-width:2000px){
    .comon-cir{
        height: 30vh;
        width: 30vh;
    }
    .forminner{
        transform: scale(2);
    }
}
